.container-input {
    display: flex;
    background-color: #fafafa;
    padding: 10px 5px;
    border-bottom: 2px solid rgba(0,0,0,0.30);
    align-items: center;
    color: rgba(0,0,0,0.2);
    width: auto; 
}

.container-input:hover {
  border-bottom: 2px solid rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.container-input:has(> input:focus) {
  border-bottom: 2px solid rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

input {
    border: none;
    background-color: transparent;
    font-size: 0.8em;
    color: rgba(0,0,0,0.5);
    border: none;
    width: 100%; 
}

input:focus { 
    outline:none; 
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 0.5; /* Firefox */
}