@import url('https://fonts.googleapis.com/css?family=Seaweed+Script');

html, body {
    font-family: 'Roboto' !important;
    font-size: 22px !important;
    display: block !important;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    background: #fdfdfd!important;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.container {
	width: 84%;
	margin: 0 auto;
}

.bd-1_5em {
    border-radius: 1.5em !important;
}

.mt10 {
    margin-top: 10px!important;
}

.mt20 {
    margin-top: 20px !important
}

.background-secondary {
    background-color: #333 !important;
    color: rgb(255, 197, 0) !important;
}

.background-primary {
    background-color: rgb(255, 197, 0) !important;
}

.border-primary {
    border-color: rgb(255, 197, 0) !important;
}

.space-divider-20 {
    height: 20px !important;
}

.divider {
    border-top: 1px solid #000;
}

.text-white {    
    color: white;
}